.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
}

.nav__logo {
  text-transform: uppercase;
  font-weight: 700;
  font-size: x-large;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: 0.3s;
}

.nav__logo-icon {
  font-size: larger;
  color: var(--first-color);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.nav__link {
  color: var(--title-color);
  font-size: larger;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav__link:hover {
    position: relative;
    color: var(--first-color);
}